/* HOME */

html,
body,
.view {
    height: 100%;
}
body{
    background-color: #f3f3f3;
}
header {
    background-color: #59555E;
    height: 9%;
    width: 100%;
    padding-left: 50px;
    float: right;
}
#odin{
    margin-left: 5%;
}
header a{
    cursor: pointer;
    width: 15%;
}
header nav{
    width: 20%;
}
.primeiro-botao{
    margin-top: 15%;
    width: 90%;
}
.segundo-botao{
    width: 90%;
}
.terceiro-botao{
    width: 90%;
}
.botoes{
    display: flex;
    flex-flow: column;
    margin-bottom: 20%;
    margin-left: 5%;
    color: #f3f3f3;
}
#perfil{
    margin-top: 1.1%;
    margin-right: 1.7%;
    float: right;
    width: 10%;
    height: 60%;
    font-size: 90%;
    color: #f3f3f3;
    border-color: #f3f3f3;
}
#imgHeader{
    position:relative;
    margin-bottom: 2%;
    width: 17%;
    height: 10%;
}

#Content{
    width: 90%;
    height: 85%;
    float: right;
    margin: 2% auto auto;
    margin-right: 2.5%;
    padding: 2%;
}
#cadastroUsuario{
    float: right;
}
#upper{
    margin-bottom: 2%;
}
#modalUsuarios, #modalExclusao, #modalAtivacao{
    display: none;
}
#buscarUsuarios{
    margin-left: 1%;
    margin-right: 0.5%;
}
#dataNascLabel {
    margin-left: 2%;
    margin-top: 1%;
}
#dataNasc {
    left: 8%;
    width: 100%;
}

#acoes{
    padding-left: 3%;
}
/*##### DROPDOWN S#####*/

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #59555E;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3C3841}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
