fieldset{
    width: 100%;
    height: 87%;
    padding: 4%;
    margin-bottom: 0.5%;
    overflow-y: auto;
}
.inputsCadastro input{
    width: 100%;
    margin-right: 23px;
    margin-bottom: auto;
    height: 40%;
}
.inputsCadastro2 input{
     width: 100%;
     margin-right: 23px;
     height: 80%;
     margin-bottom: auto;
 }
.iconsClass{
    width: 6%;
    height: 50%;
    margin-top: 32px;
    margin-left: 9px;
}
.iconsClass2{
    width: 6%;
    height: 50%;
    margin-left: 9px;
}
.icons{
    width: 25%;
    height: 25%;
    cursor: pointer;
}
.icons2{
    margin-right: 5px;
}
.iconsHistoric{
    width: 10%;
}
td{
    width: 20%;
}
.acoes{
    /*float: right;*/
    margin-right: 0.5%;
}
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.modal{
    display: none;
}

.inputsProduto{
    cursor: pointer;
    align-content: center;
    text-align: center;
}
.iconsHistoricVendas{
    width: 10%;
    height: 10%;
    margin-right: 3%;
    margin-left: 1px;
    cursor: pointer;
}
.alteracaoVendaInput{
    width: 15%;
    margin: 1%;
}
.labelUpdateVenda{
    margin-top: 1.5%;
}
